@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fuzzy Bubbles", cursive;
  line-height: 1;
}

body {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  font-style: none;
}

input {
  outline: none;
  border: none;
}

button {
  background-color: inherit;
  outline: none;
  border-style: none;
  cursor: pointer;
}

/* reset */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  padding: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.Apps {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.dropdown:hover .Apps {
  display: flex;
  flex-direction: column;
}

.Apps a {
  font-size: 30px;
  margin: 20px 0px;
  color: white;
}

.Apps a:hover {
  transform: scale(1.3);
}
.Apps a:first-child {
  animation: 0.5s ease-in-out displayApps;
}
.Apps a:nth-child(2) {
  animation: 0.5s ease-in-out displayApps;
  animation-delay: 0.1s;
}
.Apps a:nth-child(3) {
  animation: 0.5s ease-in-out displayApps;
  animation-delay: 0.2s;
}
.Apps a:nth-child(4) {
  animation: 0.5s ease-in-out displayApps;
  animation-delay: 0.3s;
}

@keyframes displayApps {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}
/* apps end */
.weather {
  font-weight: 400;
  display: flex;
}
.weather-icon {
  font-size: 20px;
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.9);
}
.weather-temp {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 2px;
}

#weather-space {
  padding-left: 2px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.weather-loca {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}
/* header end */

section {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.clock {
  font-size: 170px;
  margin-top: 140px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.login-form {
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.login-form input {
  width: 75%;
  padding: 10px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.login-form button {
  font-size: 18px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 5px;
  width: 25%;
  color: rgba(255, 255, 255, 0.8);
}

.hidden {
  display: none;
}

.greet {
  width: 1000px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 10px;
}

/* login end */
.todolist-form {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  font-size: 28px;
  flex-direction: column;
  align-items: center;
}

.todolist-form input {
  width: 300px;
  background-color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  margin: 5px;
  padding: 5px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
}

.todo-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.todo-list li > div {
  padding-top: 2px;
}
.todo-list button {
  padding-left: 5px;
}

.flex {
  display: flex;
}
